[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "client/lsocket"]
	path = client/lsocket
	url = https://github.com/cloudwu/lsocket.git
[submodule "server/clib/lua-lzma"]
	path = server/clib/lua-lzma
	url = https://github.com/rainfiel/lua-lzma.git
[submodule "common_data"]
	path = common_data
	url = git@rainfiel.com:common_data.git
